.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  gap: $catalog-gap;
  justify-content: center;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (max-width: 487px) {
    grid-template-columns: repeat(1, $card-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
